{% extends 'app/base.html' %}
{% load static %} <!-- Phải load static trước -->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Thay bằng đường dẫn CSS của bạn -->
</head>
<body>
    {% block register %}
    <section class="vh-100 bg-image"> <!-- Thay URL bằng đường dẫn ảnh tĩnh -->
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Login</h2>

                  <form class="mx-1 mx-md-4" method="POST" action="{% url 'login' %}">
                      {% csrf_token %}
                      <div data-mdb-input-init class="form-outline mb-4">
                          <input type="text"
                                 name="identifier"
                                 class="form-control form-control-lg"
                                 id="identifier"
                                 placeholder=""
                                 value="{{ request.POST.identifier|default_if_none:'' }}">
                          <label class="form-label" for="identifier">Username or Email</label>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                          <input type="password"
                                 name="password"
                                 class="form-control form-control-lg"
                                 id="password"
                                 placeholder="">
                          <label class="form-label" for="password">Password</label>
                          <small class="text-danger">{{ form.password.errors }}</small>
                      </div>

                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                            Login
                        </button>
                      </div>

                      <p class="text-center h6 text-muted mt-5 mb-0">
                          Don't have an account?
                          <a href="{% url 'register' %}" class="fw-bold text-body"><u>Register here</u></a>
                      </p>

                      {% for message in messages %}
                          <p id="message" class="text-center h6 text-danger mt-3">
                              {{ message }}
                          </p>
                      {% endfor %}
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock register %}
</body>
</html>
